a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style-type: none;
}

.body{
    font-size: 16px;
    font-weight: 400;
    color: #000;
    font-family: "Inter", sans-serif;
    
}

.container{
    
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.5);
}

.header{
    background-image: url(../images/vorota.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.header1{
    background-image: url(../images/Ellipse\ 2.svg);
    background-repeat: no-repeat;
    background-position: top center;

}

.header__inner{
    background-image: url(../images/novabar.svg);
    background-repeat: no-repeat;
    background-position: top 20px center;
    min-height: 100vh; 
}

.header-top{
    display: flex;
    
}

.menu__list{
    display: flex;
    gap: 0 32px;
    padding-top: 38px;
}

.menu__link{
    text-transform: uppercase;
    font-size: 16px;
    color: #ffffff;

    position: relative;
    display: inline-block;
    text-decoration: none;
}



.menu__link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%; /* Лінія одразу покриває весь текст */
    height: 2px;
    background-color: #FFDAB9;
    opacity: 0; /* Лінія початково невидима */
    transition: opacity 0.5s ease; /* Плавний ефект появи */
}

.menu__link:hover::after {
    opacity: 1; /* Лінія стає видимою */
}





.header-content{
    text-align: center;
}

.header--content__btn{
    padding-top: 50px;
}

.header-content__btn{
    color: #FFDAB9;
    font-size: 24px;
    background-color: #26323883;
    padding: 18px 35px;
    border-radius: 55px;
}

.logo{
    padding-top: 29px;
    padding-left: 90px;
    padding-right: 35px;
}

.logo__img{
    transition: transform 0.5s ease; /* Плавний ефект */
}

.logo:hover .logo__img{
    transform: scale(1.2); /* Збільшення */
}
.logo__footer:hover .logo__img{
    transform: scale(1.2); /* Збільшення */
}
.header-content__text{
    padding-top:  45px;
    font-size: 64px;
    color: #F5F5DC;
    text-shadow: 
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

.header-content__text1{
    padding-top: 25px;
    font-size: 32px;
    max-width: 750px;
    margin: 0 auto;
    color: #F5F5DC;
    text-shadow: 
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}

.header__titel{
    padding-top: 25px;
    font-size: 96px;
    color: hsl(0, 0%, 90%);
    font-family: "Aclonica", serif;
    text-shadow: 
    -3px -3px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}










.top-background{
    background-color: #263238;
    background-repeat: no-repeat;
    height: 250px;
}

.bottom-background{
    background-image: url(../images/info.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    min-height: 100vh;
    
    
}

.info__list-box{
    display: flex;
    gap: 0 163px;
    padding: 70px 53px;
    height: 100vh;
}

.box{
    max-width: 332px;
    color: #FFDAB9;
}

.box h3 {
    margin: 0 0 10px; /* Відступ знизу */
    font-size: 20px; /* Розмір заголовка */
}

.box p {
    margin: 0;
    font-size: 16px; /* Розмір підзаголовка */
    line-height: 1.2; /* Висота рядка */
}


.info__inner{
    display: flex;
    gap: 100px;
    height: 100vh;
    font-size: 24px;
    color: #F5F5DC;
    text-align: center;
    justify-content: space-between;
    
}

.info__box-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 200px 0;
    
    
}



    



.info__text{
    padding-bottom: 30px;
    padding-left: 490px;
    max-width: 810px;
}

.info__text1{
    
    padding-bottom: 30px;
    padding-right: 490px;
    max-width: 810px;
}

.btn_kategory{
    margin-left: 490px;
    border: 2px solid #FF7F50;
    padding: 4px 40px;
    border-radius: 55px;
    
}


.btn__kontakty{
    
    padding-right: 490px;
    border: 2px solid #FF7F50;
    padding: 4px 40px;
    border-radius: 55px;
    margin-right: 490px;
}










.footer{
    background-color: #263238;
    background-repeat: no-repeat;
    background-position: top center;
    height: 195px;
 
}

.social__box{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 51px;
    max-width: 1300px;
    margin: 0 50px;

}

 .orange-line{
    justify-content: center;
    height: 1px; /* Висота лінії */
    background-color: #FF7F50; /* Помаранчевий колір */
    max-width: 1300px; /* Ширина на весь блок */
    margin: 20px 50px; /* Відступи зверху і знизу */
  }

.social__list{
    display: flex;
    text-transform: uppercase;
    gap: 0 12px;
    
}

.footer__text{
    display: flex;
    text-transform: uppercase;
    gap: 0 24px;
    color: #FFDAB9;
    justify-content: center;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
}


















@media (max-width: 480px){
    .header__titel{
        font-size: 70px;
    }
    .info__list-box{
        gap: 0 10px;
        padding: 0;
    }
    .container{
    
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 20px;
        box-shadow: 0 10px 100px rgba(0, 0, 0, 0.5);
    }
    .info__text{
       padding-bottom: 15px; 
        padding-left: 0;
        max-width: 710px;
    }
    
    .info__text1{
        
        padding-bottom: 15px;
        padding-right: 0;
        max-width: 710px;
    }
    .btn_kategory{
        margin-left: 0px;
    }
    
    
    .btn__kontakty{
        margin-right: 0px;
    }

    .info__inner{
        justify-content: center;
    }

    .header-content__text{
        font-size: 48px;
    }
    .header-content__text1{
        font-size: 24px;
    }
    

    .menu__list{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .footer__text{
        font-size: 10px;
    }

    .box h3{
        font-size: 14px;
    }
    .box p{
        font-size: 10px;
    }
 
}

    
@media (max-width: 400px){
    .header__titel{
        color: #ff0095;
    }

}


@media (max-width: 390px){
    .header__titel{
        color: #9900ff;
    }

}



@media (max-width: 380px){
    .header__titel{
        color: #002fff;
    }

}


@media (max-width: 370px){
    .header__titel{
        color: #00f7ff;
    }

}



@media (max-width: 360px){
    .header__titel{
        color: #ffee00;
    }

    
}




@media (max-width: 350px){
    .header__titel{
        color: #00ff0d;
    }

    
}